@require '../../common/styles/global-variables.styl'

.section-slogan
  padding: 0

  &__container
    padding: $default-padding * 1.3 $default-padding * 2
    background-image: url($path-to-images + 'meeting.jpg')
    background-size: 305px 100px
    background-repeat: no-repeat
    @media (max-width: $large)
      background-size: auto 100%

  &__text
    margin-left: $default-padding * 3
    font-size: 22px
    @media (max-width: $small)
      font-size: 18px