@require 'mixins.styl'

/* Colors */

$pure-white = #ffffff
$thunderbird = #c51e14
$pomegranate = #f62619
$main-shaft = #262626
$main-shaft-cold = #313131
$main-shaft-light = #202020
$main-shaft--dark = #242424
$pure-black = #000

/* Paddings */

$default-padding = 15px

/* Fonts */

$font-family-general = 'Montserrat', sans-serif

$font-weight--black = 900
$font-weight--bold = 700
$font-weight--medium = 500
$font-weight--regular = 400
$font-weight--light = 300

/* Screen */

$extra-large = 1200px
$large = 992px
$medium = 768px
$small = 576px

/* Helpers */

$path-to-images = '../img/'